.payment .paymentContent{
    height: 200px;
    padding: 20px;
    box-shadow: 3px 3px 10px gray;
    font-size: 18px;
}
.paymentContent button{
    display: block;
    padding: 10px 20px;
    text-align: center;
    margin-top: 80px;
    text-decoration: none;
    background-color: #ff424e;
    color: #ffffff;
    font-size: 18px;
    border: 0;
    width: 100%;
}
.paymentContent button:hover{
    transform: translateY(-5px);
    transition: all 0.5;
    font-weight: 500;
}