.headerTop{
    padding-top: 10px;
}
.headerTop>ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}
.headerTop>ul li{
    margin-left: 20px;
    font-size: 18px;
    box-sizing: border-box;
    position: relative;
}
.headerTop>ul li:hover svg{
    transform: scale(1.2);
    transition: all 0.5s;
}
.headerTop>ul li a{
    text-decoration: none;
    color: gray;
}
.headerTop button{
    color: gray;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}
.headerTop button:active, .headerTop button:focus{
    color: green;
    border: 0;
}
.headerTop span{
    color: green;
    font-weight: 500;
    margin-left: 5px;
    font-size: 15px;
}
.numbercart{
    color: black;
    font-weight: 900;
    font-size: 15px;
}
.subMenu{
    background-color: #3b9f5e;
    width: 270px;
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 1000;
    display: none;
}
.subMenu .white{
    background-color: #fff;
    height: 15px;
}
.subMenu ul{
    list-style: none;
    padding: 0;
    display: block;
    
}
.subMenu li{
    display: inline-block;
    width: 100%;
    margin-left: 0px !important;
    
}
.subMenu a, .subMenu button{
    width: 100%;
    color: #ffffff !important;
    padding: 7px 15px;
    display: inline-block;
    background-color: transparent;
    text-align: left;
}
.subMenu a:hover, .subMenu button:hover{
    font-weight: 500;
}
.headerTop .user{
    position: relative;
}
.headerTop .user:hover .subMenu{
    display: block;
}

