.slider{
    overflow: hidden;
    position: relative;
}
.images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
    position: absolute;
    left: 40%;
    top: -60%;
}
.images div{
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}
.images img{
    border: 4px solid #fff;
    box-shadow: 3px 3px 10px gray;
    border-radius: 3px;
    animation-name: move;
        animation-duration: 10s;
        animation-iteration-count: infinite;
}
.bannerContent{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.bannerContent>div{
    text-align: center;
    width: 450px;
    border: 1px solid #f97c19;
    box-shadow: 5px 5px 5px #f97c19;
    padding: 20px;
    margin-top: 20px;
}
.bannerContent button{
    border: 0;
    background-color: #f97c19;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}
.bannerContent h2{
    margin-bottom: 30px;
}
@keyframes move{
    0%{
        transform: translate(-100px,0px);
    }
    50%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(-100px,0px);
    }
}