.search{
    animation-name: move;
    animation-duration: 1s;
    position: relative;
}
.searchStyle{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.search .searchBox{
    border: 1px solid green;
    width: 450px;
    position: absolute;
    top: 50px;
    left: 18%;
    border-radius: 3px;
    background-color: #fff;
    z-index: 9999;
}
.tabStyle a{
    color: gray;
    font-weight: 500;
}
@keyframes move{
    0%{
        transform: translate(0px,-200px);
    }
    100%{
        transform: translate(0px,0px);
    }
}